
  <div style="border: 1px solid lightblue; display: flex">
    <label for="newTaskCheckBocks">
      <input
        name="newTask"
        id="newTaskCheckBocks"
        [value]="newTask"
        (input)="onTaskInput($event)"
        [ngStyle]="{border: 'none', width: '500px', padding: ' 7px', fontSize: '30px', marginRight: '10px', outline: 'none', hover: 'black'}"/>
    </label>
    <p><button class="button" (click)="onDeleteTaskClick()">Delete</button></p>
  </div>





