.person {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
}

.button{
  padding: 5px;
  background: lightblue;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.input:hover{
  border-bottom: black;
}

