<div>
  <h1>{{title}}</h1>
</div>

<br/>
<br/>

<div
[ngStyle]="{padding: '20px', fontSize: '20px', textAlign: 'center'}">
  <input
    [ngStyle]="{padding: '5px'}"
    [value]="newTask"
    class="todo-text-add"
         placeholder="Add new task"
         [(ngModel)]="newTask">

  <button (click)="onTaskAdd($event)"
          class="button"
          type="submit"
          [disabled]="blockedFormInput()">
    ADD TASK
  </button>
</div>

<app-todo-list class="todo-list"
               *ngFor="let app of item; let i = index"
               [newTask]="app.newTask"
               (delete)="onDeleteTaskClick(i)"
               (taskChange)="changeTask(i, $event)"
></app-todo-list>



