h1{
  background-color: cadetblue;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  margin: 0;
  color: #fefefe;
}



.button{
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 5px 5px 0;
}

.gray{
  background: lightgray;
  color: darkgray;
}

.green{
  background: lightgreen;
  color: green;
}
